@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italiana&family=Playfair+Display:wght@400;500;600&family=Work+Sans:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
